<h1>Application <%= "#{@application.id}" %></h1>

<h3> <%= "#{@application.name}" %> </h3>
<p> <%= "#{@application.street_address}" %>
    <%= "#{@application.city}" %>
    <%= "#{@application.state}" %>
    <%= "#{@application.zip}" %> </p>
<p> <%= "#{@application.description}" %> </p>
<h3> <%= "#{@application.status}" %> </h3>
